@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

/* base styles */
* {
  margin: 0;
  font-family: "Quicksand";
  color: #333;
}

.navbar {
  padding: 20px;
  display: flex;
  align-items: center;
  max-width: 600px;
  margin: 0 auto;
  border-bottom: 1px solid #f2f2f2;
}

.navbar h1 {
  color: #f1356d;
}

.navbar .links {
  margin-left: auto;
}

.navbar a {
  margin-left: 16px;
  text-decoration: none;
  padding: 6px;
}

.navbar a:hover {
  color: #f1356d;
}

.content {
  max-width: 600px;
  margin: 40px auto;
  padding: 20px;
}

/* blog previews / list */
.blog-preview {
  padding: 10px 16px;
  margin: 20px 0;
  border-bottom: 1px solid #fafafa;
}

.blog-preview:hover {
  box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.1);
}

.blog-preview h2 {
  font-size: 20px;
  color: #f1356d;
  margin-bottom: 8px;
}

.blog-preview h3 {
  font-size: 15px;
  margin-bottom: 8px;
}

.blog-preview a {
  text-decoration: none;
}

/* blog details page */
.blog-details h2 {
  font-size: 20px;
  color: #f1356d;
  margin-bottom: 10px;
}

.blog-details div {
  margin: 20px 0;
}

.blog-details button {
  background: #f1356d;
  color: #fff;
  border: 0;
  padding: 8px;
  border-radius: 8px;
  cursor: pointer;
}

/* create new blog form */
.create {
  max-width: 400px;
  margin: 0 auto;
  text-align: center;
}

.create label {
  text-align: left;
  display: block;
}

.create h2 {
  font-size: 20px;
  color: #f1356d;
  margin-bottom: 30px;
}

.create input,
.create textarea,
.create select {
  width: 100%;
  padding: 6px 10px;
  margin: 10px 0;
  border: 1px solid #ddd;
  box-sizing: border-box;
  display: block;
}

.create button {
  background: #f1356d;
  color: #fff;
  border: 0;
  padding: 8px;
  border-radius: 8px;
  cursor: pointer;
}

button.disabled-button {
  background-color: #ccc;
  /* Change the background color to gray */
  cursor: not-allowed;
  /* Change the cursor to indicate not allowed */
  color: #555;
  /* Change the text color to a darker shade */
}

/* Styles for the overlay background */
.ReactModal__Overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  /* Semi-transparent background */
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Styles for the modal content */
.ReactModal__Content {
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  max-width: 300px;
  /* Adjust the width as needed */
  max-height: 300px;
  width: 100%;
}

/* Styles for the modal title */
.ReactModal__Content h2 {
  margin-top: 0;
}

/* Styles for the input field */
.ReactModal__Content input {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

/* Styles for buttons */
.ReactModal__Content button {
  background-color: #007BFF;
  /* Blue color */
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-right: 10px;
}

/* Style for the cancel button */
.ReactModal__Content button.cancel-button {
  background-color: #ccc;
  /* Gray color */
}

/* select image in create */
.selected-image {
  border: 2px solid blue;
  /* You can change the border style as needed */
}

.thumbnail-image {
  width: 150px;
  /* Adjust the width as needed */
  height: 150px;
  /* Adjust the height as needed */
  /* object-fit: cover; */
  margin: 5px;
  /* Add some spacing between images */
}